@media (max-width:576px) {

    * {
        --padding-left: 30px;
        /* --nav-menu-width: 0px; */
    }

    .nav-menu {
        background-color: var(--nav-menu-background);
        height: 80px;
        width: 100px;
        position: absolute;
        bottom: 0px;
        
    }

    .nav-item{
        width: var(--nav-menu-width);
        height: var(--nav-menu-width);
        background: var(--nav-menu-item-background);

      }


}
