ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: rgb(255, 255, 255);
    /* border-right: rgb(226, 23, 23) solid 2px; */
  }
.nav__list2 {
    padding-left: 0rem;
    padding-right: .0rem;
    margin-right: .5rem;
    overflow: hidden;
    /* background-color: #3717b9; */
}